.top50 {
  margin-top: 50px;
}
.pic-artist {
  width: 300px;
  border-radius: 50%;
}
body {
  color: #666666;
}
.margenes50 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.centrar {
  text-align: center;
}
